For Ubuntu users:
------------------

Requires Python 3.6 or higher

sudo apt-get install python-pip
sudo pip install wheel
sudo pip install pandas
sudo pip install matplotlib

For parsing DMM log files you may need to install Basemap

Then, eg:
python check_powercontrol.py


For windows users:
------------------
recommended to install Anaconda and use the Spyder IDE for file editing and running
for parsing DMM log files you need to run 
conda install -c anaconda basemap
